#Problem 1: Unique Words in a Sentence

In [2]:
#taking input sentence
sentence = input("Enter sentence: ")

#convert sentence into words
words = sentence.split()

#Remove duplicates using set
unique_words =set(words)
print("Unique words count: ",len(unique_words))
print("Unique words: ", unique_words)

Enter sentence: python is easy and python is powerfull
Unique words count:  5
Unique words:  {'python', 'and', 'powerfull', 'easy', 'is'}

#Problem 2: Highest Salary from Employee Data

In [4]:
employees = {"Ravi":75000, "Anita":68000, "Kiran":72000}

#find employee with highest salary
highest_emp = max(employees, key=employees.get)
highest_salary = employees[highest_emp]

print("Highest Salary: ", highest_emp, "_", highest_salary)

Highest Salary:  Ravi _ 75000

#Problem 3: Find Maximum and Minimum Values

In [5]:
#Given list
numbers = [45, 22, 89, 10, 66]

#Initialize max and min with first element
max_value = numbers[0]
min_value = numbers[0]

#Loop through list
for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

#Print results
print("List:",numbers)
print("Max:",max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

#Problem 4: Count Products Above a Price Threshold

In [6]:
#given list of prices
prices = [450,1200,899,1500,300]

count = 0

#Check each price
for price in prices:
    if price > 1000:
        count +=1

# Print result
print("Products above 1000:",count)

Products above 1000: 2

#Problem 5: Calculate Attendance Percentage

In [7]:
# Given attendence list
attendence = ["P","P","A","P","P"]

#Count present Days
present_days = attendence.count("P")

#Total Days
total_days = len(attendence)

# Calculate persentage
persentage = (present_days/ total_days)*100

print("Attendence Persentage: ", persentage)

Attendence Persentage:  80.0

#Problem 6: Remove Duplicate Phone Numbers

In [8]:
#Given list of phone numbers
phone_numbers = [9876543210, 9123456789, 9876543210]

#Remove duplicates using set
unique_numbers = set(phone_numbers)

print("Unique phone Numbers: ", unique_numbers)

Unique phone Numbers:  {9876543210, 9123456789}

#Problem 7: Count Character Frequency

In [9]:
#inout string
text ="ppython"

#create empty dictionary
frequency ={}

# Count each character
for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

#Problem 8: Convert List to Tuple

In [10]:
numbers = [10,20,30]

#cinvert list to tuple
numbers_tuple = tuple(numbers)

print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

#Problem 9: Check if a Key Exists in a Dictionary

In [11]:
employees = { "Praveen":75000, "Acharya":68000, "Gaurav":72000}

#key to search
key_name = input("Enter employee Name: ")

if key_name in employees:
    print("Employee exists")
else:
    print("Employee doesn't exist")

Enter employee Name: Praveen
Employee exists

#Problem 10: Calculate Average Marks

In [12]:
marks = [70,75,80,65]
#calculate average
avarage = sum(marks)/len(marks)

print("Avarage Marks: ",avarage)

Avarage Marks:  72.5